// main colors
$main_color_black: #000000;
$main_color_white: #ffffff;
$main_color_green: #00d9a6;

// secondary colors
$secondary_green: #00D9A6;

// background color
$background-color-grey: #f5f5f5;

// btn black color
$btn_black: #000000E6;

